.slideshow {
	margin: 0 auto;
	overflow: hidden;
}

.slider {
	height: 7rem;
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

.slideshowSlider {
	white-space: nowrap;
	transition: ease 1000ms;
}

.slideshowDots {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0;
}
.slideshowDot {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
	margin: 15px 7px 0px;
	background-color: #c4c4c4;
}

.slideshowDot.active {
	background-color: #6a0dad;
}
