.Convertor {
	margin: 0px 20px;
	margin-bottom: 40px;
	background-color: #ffffffae;
	box-shadow: 1px 3px 3px 3px rgba(9, 9, 9, 0.23);
	border-radius: 5px;
	padding: 0.5rem 0.5rem;
}

.amount {
	align-items: center;
	display: flex;
	margin-left: 10px;
	padding-left: 2%;
}

.convertor-grid {
	justify-content: space-between;
	margin-top: 20px;
}

.convertor-top-row {
	display: flex;
	justify-content: center;
}

.convertor-bot-row {
	display: flex;
	justify-content: space-evenly;
	padding-right: 20px;
}

.outcome {
	align-items: center;
	width: 10rem;
}

.rateContainer {
	align-items: center;
}

.rateContainer-label {
	margin-bottom: 0px;
}

.switch i {
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: #ededed;
	border-radius: 6px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #424242;
	font-size: 20px;

	padding: 10px 10px;
	padding-bottom: 13px;
	height: 14px;
	margin-top: 8px;
	margin-left: 32px;
	margin-right: 32px;
}

.switch i:hover {
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color: #dfdfdf;
}
.switch i:active {
	position: relative;
	top: 1px;
}

.outcome h1 {
	border: 1px solid black;
	border-radius: 6px;
	font-size: 20px;
	padding: 5px;
}

.rateContainer-output {
	margin-top: 22px;
	position: relative;
	font-weight: 500;
	font-size: larger;
}
.rateContainer-outputNum {
	color: blue;
}

.continue {
	box-shadow: inset 0px 0px 6px 1px #002060;
	background: linear-gradient(to bottom, #002060 5%, #195bb6 100%);
	border-radius: 20px;
	border: 2px solid #002060;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 15px;
	font-weight: 600;
	padding: 7px 24px;
	letter-spacing: 1px;
	width: 90%;
	font-family: 'PT Serif Caption', serif;
	font-family: 'Roboto', sans-serif;
}
.continue:hover {
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color: #1e62d0;
}
.continue:active {
	position: relative;
	top: 1px;
}

.toFormBtn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	margin-top: 10px;
}

.Convertor-heading {
	font-weight: 700;
	margin-left: 13px;
}

.toFormBtn a {
	margin-top: 30px;
	text-decoration: underline;
}
