.bullet {
	color: black;
	background-color: #f2f2f2;
	box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
	border-radius: 5px;
	align-content: center;
	display: flex;
	margin-bottom: 10px;
	border: 1px solid grey;
}

.bullet img {
	height: 40px;
	width: auto;
	position: relative;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 20px;
}

.desc {
	font-size: 15px;
	text-align: center;
	margin-left: 10px;
	font-weight: 700;
}
