.bullet {
	color: black;
	align-content: center;
	align-items: center;
	display: flex;
	/* margin-bottom: 10px; */
	flex-direction: row;
	text-align: center;
	margin-left: 15px;
}

.bullet img {
	height: 20px;
	width: auto;
	position: relative;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 20px;
}

.desc {
	font-size: 15px;
	text-align: center;
	margin-left: 10px;
	font-weight: 700;
}
