.slide {
	display: flex;
	flex-direction: row;
	background-color: rgba(161, 161, 161, 0.2);
	border-radius: 30px;
	padding: 10px 5px;
	justify-content: space-around;
	height: 10rem;
	margin-bottom: 10px;
}

.slide img {
	height: 5rem;
	width: auto;
}

.slide p {
	font-weight: 700;
	font-size: larger;
}
