.UserForm {
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0.5rem 0rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	/* background-color: #ffffffae;
	box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
	border-radius: 5px; */
	z-index: 1;
	font-family: 'PT Serif Caption', serif;
	font-family: 'Roboto', sans-serif;
	animation: convertorAnim 2s ease 0s 1 normal none;
}

@keyframes convertorAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.hiddenForm {
	display: none;
}

.userFormBullets {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	border-top: 2px solid black;
}

.userForm-slideShow {
	border-bottom: 2px solid black;
	margin: 10px 10px;
}
