.header-top {
	margin: 0px 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: row-reverse;
}

.header img {
	height: 10rem;
	width: auto;
	margin-right: 20px;
	margin-top: 10px;
}

.phrase {
	color: white;
	font-size: 35px;
	margin-bottom: 10px;
}
.header-bullets-container {
	margin: 0px 10px;
	justify-content: space-between;
}
