.submited {
	margin: 2px 10px;
	animation: submited 1s ease 0s 1 normal none;
}

@keyframes submited {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.code {
	color: blue;
}

.resent {
	color: red;
}

.Resend {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.logo {
	height: 100px;
	width: auto;
	margin: 6px 8rem;
}
