.footer {
	height: 5rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem 0rem;
	background-color: #002060;
	color: black;
	position: relative;
	bottom: 0;
	z-index: 0;
	border-top: 2px solid black;
	border-radius: 5px;
}

.footer-logo {
	height: 3rem;
	width: auto;
	margin-top: 0px;
	margin-left: 10px;
}

.footer-text {
	margin: 10px 20px;
	color: white;
	font-size: 12px;
	text-align: center;
	display: flex;
	flex-direction: row;
}

.footer-text h1 {
	font-size: 18px;
}

.footer-text a {
	color: white;
	font-size: 12px;
}

.footer-contact {
	padding: 0px 10px;
}

.footer-text p {
	border-left: solid 1px white;
	padding-left: 8px;
}
