.howTo-steps {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.howTo-heading p {
	font-weight: 700;
	font-size: 25px;
	width: 70%;
	margin-top: 0%;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.howTo-heading {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
